.card {
  padding: 0;
  background: #333333;
  height: 100%;
  color: #fff;
  .card-header {
    padding: 0;
    position: relative;
  }
}
.card-name {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 5px 10px;
  h6 {
    margin-bottom: 4px;
    font-size: 19px;
  }
  p {
    margin-bottom: 0;
    font-size: 13px;
  }
}
.card-list-item {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #514f4f;
  padding: 6px 0;
  &:last-child {
    border-bottom: 0;
  }
  .card-val,
  .card-key {
    line-height: 18px;
  }
  .card-key {
    width: 36%;
  }
  .card-val {
    color: #d27c0a;
    width: 60%;
    text-align: right;
  }
}
