
.category-list {
    display: none;
}
.category {
    padding: 10px;
    border: 1px solid #b3b3b3;
    margin-bottom: 20px;
}
.category-title{
    margin-bottom: 15px;
}
.category-list-group{
    .category-item{
        margin-bottom: 10px;
    }
}