
/*************************************Reset css : Starts*****************************************/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
   height: 100%;
   background-image: linear-gradient(#faf9fa,#fffeff,#fefefe);
   background-attachment: fixed;
   font-size: 14px;
  }
  * {
    -webkit-transition: color 0.2s, background-color .25s, border-color .25s, opacity .25s;
    -moz-transition: color 0.2s, background-color .25s, border-color .25s, opacity .25s;
    transition: color 0.2s, background-color .25s, border-color .5s, opacity .25s;
}
ul{list-style: none; margin: 0; padding: 0;}
/*************************************Reset css : Ends*****************************************/ 